API__MODE=development
API__HOST=127.0.0.1
API__PORT=3000
API__COOKIE_SECURE=false
API__COOKIE_SECRET=elspeth
API__AUTH_SESSION_TTL_DAYS=365
API__OAUTH_ENCRYPTION_KEY=elspeth

DATABASE__HOST=127.0.0.1
DATABASE__PORT=5432
DATABASE__USER=elspeth
DATABASE__PASSWORD=elspeth
DATABASE__NAME=elspeth

JWT__SECRET=elspeth
JWT__ISSUER=http://127.0.0.1:3000
JWT__AUDIENCE=http://127.0.0.1:3000

REDIS__HOST=127.0.0.1
REDIS__PORT=6379
REDIS__USER=elspeth
REDIS__PASSWORD=elspeth
REDIS__INDEX=0

TELEMETRY__SERVICE_NAME=elspeth-api
TELEMETRY__OTLP_ENDPOINT=http://127.0.0.1:4317
TELEMETRY__OTLP_PROTOCOL=grpc

WEB__URL=http://127.0.0.1:4000
